body {
    background-color: white;
    color: #5599EE;
}

#haut {
    margin: 2% 2% 2% 2%;
    height: 6%;
}

#gauche {
    float: left;
    width: 18%;
    background-color: white;
    height: 100%;
}

#droite {
    float: left;
    width: 80%;
    color: white;
    padding: 10px;
    background-color: #77AADD;
}

#bas {
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #77AADD;
    color: white;
    display: block;
}

#formPraticien {
    padding-left: 20px;
}

.titre {
    display: inline-block;
    width: 20%;
}

.zone {
    margin-top: 10px;
}


#formMedicament {
    padding-top: 10px;
}

#formPraticien, #formMedicament {
    padding-left: 20px;
}

#formPraticien label, #formMedicament label {
    margin-left: 10px;
    display: inline-block;
    width: 20%;
    text-align: right;
}

#formPraticien input, #formMedicament input, #formMedicament textarea {
    margin-top: 10px;
}

label, textarea{
    display: inline-block;
    margin: 5px;
}

#infosUtil {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    width: 95%;
    background-color: wheat;
}